# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Ensure no CRLF line-endings, neither on checkout nor on checkin for specified file types.
*.bb            text eol=lf
*.bbappend      text eol=lf
*.conf          text eol=lf
*.gitattributes text eol=lf
*.gitignore     text eol=lf
*.json          text eol=lf
*.md            text eol=lf
*.patch         text eol=lf
*.py            text eol=lf
*.sample        text eol=lf
*.sh            text eol=lf
*.txt           text eol=lf
