ACTION=="add", SUBSYSTEM=="block", ENV{DEVNAME}=="/dev/sda*", RUN+="/bin/systemctl --no-block start mnt-usb.service"
ACTION=="remove", SUBSYSTEM=="block", ENV{DEVNAME}=="/dev/sda*", RUN+="/bin/systemctl --no-block stop mnt-usb.service"