ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="1519", ATTRS{idProduct}=="0020", ENV{DEVNAME}=="/dev/ttyACM0", RUN+="/bin/systemctl --no-block start wvdial.service"
ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="216f", ATTRS{idProduct}=="0051", ENV{DEVNAME}=="/dev/ttyACM0", RUN+="/bin/systemctl --no-block start ldattach-hl78xx.service"
ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="1199", ATTRS{idProduct}=="c001", ENV{DEVNAME}=="/dev/ttyACM0", RUN+="/bin/systemctl --no-block start wvdial-hl78xx-usb.service"
ACTION=="remove", SUBSYSTEM=="tty", ATTRS{idVendor}=="1519", ATTRS{idProduct}=="0020", ENV{DEVNAME}=="/dev/ttyACM0", RUN+="/bin/systemctl --no-block stop wvdial.service"
ACTION=="remove", SUBSYSTEM=="tty", ATTRS{idVendor}=="216f", ATTRS{idProduct}=="0051", ENV{DEVNAME}=="/dev/ttyACM0", RUN+="/bin/systemctl --no-block stop ldattach-hl78xx.service"
ACTION=="remove", SUBSYSTEM=="tty", ATTRS{idVendor}=="1199", ATTRS{idProduct}=="c001", ENV{DEVNAME}=="/dev/ttyACM0", RUN+="/bin/systemctl --no-block stop wvdial-hl78xx-usb.service"