[Match]
#Name=eth0 would cause a warning "based on potentially unpredictable interface name"
Property=INTERFACE=eth0

[Network]
Address=192.168.3.11/24
# https://github.com/systemd/systemd/issues/24717
LinkLocalAddressing=no
