[Match]
#Name=ppp0 would cause a warning "based on potentially unpredictable interface name"
Property=INTERFACE=ppp0

[Network]
KeepConfiguration=static
DNS=10.89.23.40
DNS=10.89.23.41
# https://github.com/systemd/systemd/issues/24717
LinkLocalAddressing=no
