[Match]
#Name=wlan0 would cause a warning "based on potentially unpredictable interface name"
Property=INTERFACE=wlan0
Driver=rtl8xxxu

[Network]
DHCP=yes
