[Unit]
Description=ble
After=ble-attach.service sys-subsystem-bluetooth-devices-hci0.device drive.target
Requires=ble-attach.service sys-subsystem-bluetooth-devices-hci0.device
Wants=drive.target
Before=bluetooth.service

[Service]
Type=oneshot
ExecStart=/etc/scripts/ble-revision.sh start
RemainAfterExit=yes

[Install]
WantedBy=communication.target
