[Unit]
Description=ble-attach
After=dbus.service check.target
Requires=dbus.service
Wants=check.target
Before=bluetooth.service

[Service]
Type=oneshot
ExecStart=/etc/scripts/ble-attach.sh start
ExecStop=/etc/scripts/ble-attach.sh stop
ExecReload=/etc/scripts/ble-attach.sh reload
RemainAfterExit=yes

[Install]
WantedBy=ble.target
