[Unit]
Description=ble
After=dbus.service drive.target
Requires=dbus.service
Wants=drive.target

[Service]
Type=oneshot
ExecStart=/etc/scripts/ble.sh start
ExecStop=/etc/scripts/ble.sh stop
RemainAfterExit=yes

[Install]
WantedBy=communication.target
