[Unit]
Description=can0 interface setup
After=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=/etc/scripts/can0.sh start
ExecStop=/etc/scripts/can0.sh stop
ExecReload=/etc/scripts/can0.sh reload
RemainAfterExit=yes

[Install]
WantedBy=drive.target
