[Unit]
Description=can0 interface setup
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/etc/scripts/can0.sh start
ExecStop=/etc/scripts/can0.sh stop
ExecReload=/etc/scripts/can0.sh reload
RemainAfterExit=yes

[Install]
WantedBy=early-init.target
