[Unit]
Description=candump
After=can0.service
Requires=can0.service

[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/bin/candump can0 -t a | /usr/bin/multilog s10485760 n3 wcandump /tmp/candump'

[Install]
WantedBy=drive.target
