[Unit]
Description=fwu-usb
After=mnt-rfs.service zram.service
Requires=mnt-rfs.service zram.service
Wants=led.service

[Service]
Type=simple
ExecStart=/etc/scripts/fwu-usb.sh
