[Unit]
Description=fwu-usb-run
After=mnt-rfs.service led.service check.target
Requires=mnt-rfs.service
Wants=led.service check.target
BindsTo=mnt-usb.service

[Service]
Type=simple
ExecStart=/etc/scripts/fwu-usb-run.sh
