[Unit]
Description=fwu-usb
After=mnt-rfs.service led.service check.target
Requires=mnt-rfs.service
Wants=led.service check.target

[Service]
Type=simple
ExecStart=/etc/scripts/fwu-usb.sh
