[Unit]
Description=fwu
After=zram.service
Requires=zram.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/etc/scripts/fwu.sh start

[Install]
WantedBy=basic.target
