[Unit]
Description=gsm
After=check.target
Wants=check.target

[Service]
Type=oneshot
ExecStart=/etc/scripts/gsm.sh start
ExecStop=/etc/scripts/gsm.sh stop
RemainAfterExit=yes

[Install]
WantedBy=communication.target
