[Unit]
Description=gsm
After=ble.target
Wants=ble.target
RequiresMountsFor=/mnt/data

[Service]
Type=oneshot
ExecStart=/etc/scripts/gsm.sh start
ExecStop=/etc/scripts/gsm.sh stop
ExecReload=/etc/scripts/gsm.sh reload
RemainAfterExit=yes

[Install]
WantedBy=gsm.target
