[Unit]
Description=hostname-set
RequiresMountsFor=/mnt/data

[Service]
Type=oneshot
ExecStart=/bin/dash -c "/bin/hostname -F /mnt/data/hostname || true"
RemainAfterExit=yes

[Install]
WantedBy=drive.target
