[Unit]
Description=hostname-det
After=gsm.target
Wants=gsm.target
RequiresMountsFor=/mnt/data

[Service]
Type=oneshot
ExecStart=/etc/scripts/hostname-det.sh
RemainAfterExit=yes

[Install]
WantedBy=late-init.target
