[Unit]
Description=ldattach for sierra wireless hl78xx
After=gsm.service
PartOf=gsm.service
Wants=network.target

[Service]
Type=simple
ExecStart=/etc/scripts/ldattach-hl78xx.sh