[Unit]
Description=led
After=pwr-sup.service
Requires=pwr-sup.service

[Service]
Type=oneshot
ExecStart=/etc/scripts/led.sh start
ExecStop=/etc/scripts/led.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
