[Unit]
Description=led
After=gpio.service
Requires=gpio.service

[Service]
Type=oneshot
ExecStart=/etc/scripts/led.sh start
ExecStop=/etc/scripts/led.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
