[Unit]
Description=log-usb
After=mnt-log.service led.service hostname-set.service check.target
Wants=mnt-log.service led.service hostname-set.service check.target

[Service]
Type=oneshot
ExecStart=/etc/scripts/log-usb.sh
