[Unit]
Description=log-usb
After=mnt-log.service hostname-set.service check.target
Wants=mnt-log.service hostname-set.service check.target
BindsTo=mnt-usb.service

[Service]
Type=oneshot
ExecStart=/etc/scripts/log-usb.sh
