[Unit]
Description=log-usb
After=mnt-log.service led.service drive.target
Wants=mnt-log.service led.service drive.target

[Service]
Type=oneshot
ExecStart=/etc/scripts/log-usb.sh
