[Unit]
Description=Mounts the data partitions

[Service]
Type=oneshot
ExecStart=/etc/scripts/mnt-data.sh start
ExecStop=/etc/scripts/mnt-data.sh start
RemainAfterExit=yes

[Install]
WantedBy=basic.target
