[Unit]
Description=mnt-sda1

[Service]
Type=oneshot
ExecStart=/etc/scripts/mnt-sda1.sh start
ExecStartPost=/bin/systemctl --no-block start fwu-usb.service
ExecStop=/etc/scripts/mnt-sda1.sh stop
RemainAfterExit=yes
