[Unit]
Description=mnt-usb

[Service]
Type=oneshot
ExecStart=/etc/scripts/mnt-usb.sh start
ExecStartPost=/bin/systemctl --no-block start fwu-usb.service
ExecStop=/etc/scripts/mnt-usb.sh stop
RemainAfterExit=yes
