[Unit]
Description=mnt-rfs
After=communication.target

[Service]
Type=oneshot
ExecStart=/etc/scripts/mnt-rfs.sh start
ExecStop=/etc/scripts/mnt-rfs.sh stop
RemainAfterExit=yes
