[Unit]
Description=peripheral-mpio
DefaultDependencies=no
Wants=systemd-udev-early-trigger.service
After=systemd-udev-early-trigger.service

[Service]
Type=oneshot
ExecStart=/etc/scripts/peripheral-mpio.sh
RemainAfterExit=yes

[Install]
WantedBy=early-init.target
