[Unit]
Description=peripheral-stem

[Service]
Type=simple
ExecStart=/etc/scripts/peripheral-stem.sh start
ExecStop=/etc/scripts/peripheral-stem.sh stop
RemainAfterExit=yes
