[Unit]
Description=pwr-sup
After=gpio.service
Requires=gpio.service

[Service]
Type=oneshot
ExecStart=/etc/scripts/pwr-sup.sh start
ExecStop=/etc/scripts/pwr-sup.sh stop
RemainAfterExit=yes

[Install]
WantedBy=basic.target
