#  SPDX-License-Identifier: LGPL-2.1+
#
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Coldplug input and ubi Devices
Documentation=man:udev(7) man:systemd-udevd.service(8)
DefaultDependencies=no
Wants=systemd-udevd.service
After=systemd-udevd.service
ConditionPathIsReadWrite=/sys

[Service]
Type=oneshot
RemainAfterExit=yes
#ExecStartPre=/sbin/modprobe st1633
ExecStart=/bin/udevadm trigger -s input -s ubi --action=add

[Install]
WantedBy=sysinit.target
