[Unit]
Description=usb
After=gpio.service pwr-sup.service
Requires=gpio.service pwr-sup.service

[Service]
Type=oneshot
ExecStart=/etc/scripts/usb.sh start
ExecStop=/etc/scripts/usb.sh stop
RemainAfterExit=yes

[Install]
WantedBy=basic.target
