[Unit]
Description=vnc-server
After=late-init.target
Wants=late-init.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -forever -rawfb drm:/dev/dri/card0@240x320x32 -pipeinput UINPUT:direct_abs=/dev/input/event0
KillSignal=SIGINT

[Install]
WantedBy=debug.target
