[Unit]
Description=vnc-server
After=late-init.target
Wants=late-init.target

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -forever -rawfb /dev/fb0 -pipeinput UINPUT:direct_abs=/dev/input/event1
KillSignal=SIGINT

[Install]
WantedBy=debug.target
