[Unit]
Description=wvdial internet dialer service for stromer m2m
After=gsm.service
PartOf=gsm.service
Wants=network.target

[Service]
Type=simple
ExecStart=/etc/scripts/wvdial.sh
Restart=always
RestartSec=10
