[Unit]
Description=wvdial internet dialer service for stromer m2m
After=gsm.service
PartOf=gsm.service
Wants=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/microcom -t 1000 /dev/ttyGSM0
ExecStart=/bin/dash -c "wvdial || true"
ExecStopPost=/bin/dash -c "/bin/echo -e \"AT+CEER\r\" | microcom -t 2000 /dev/ttyGSM0"
Restart=always
RestartSec=10
