[Unit]
Description=wvdial internet dialer service for stromer m2m
After=gsm.service
PartOf=gsm.service
Wants=network.target

[Service]
Type=simple
ExecStartPre=/etc/scripts/wvdial-gsm-workaround.sh
ExecStart=/bin/bash -c "/usr/bin/wvdial || true"
ExecStopPost=/bin/bash -c "/bin/echo -e \"AT+CEER\r\" | microcom -t 2000 /dev/ttyACM0"
Restart=always
RestartSec=10
