[Unit]
Description=zram
After=drive.target

[Service]
Type=oneshot
ExecStart=/etc/scripts/zram.sh start
ExecStop=/etc/scripts/zram.sh stop
RemainAfterExit=yes
