[Unit]
Description=Hostapd IEEE 802.11 AP, IEEE 802.1X/WPA/WPA2/EAP/RADIUS Authenticator
After=network.target

[Service]
ExecStartPre=/etc/scripts/wlan0.sh
ExecStart=/usr/sbin/hostapd /tmp/hostapd.conf
