[Unit]
Description=Hostapd IEEE 802.11 AP, IEEE 802.1X/WPA/WPA2/EAP/RADIUS Authenticator
After=network.target communication.target

[Service]
Type=forking
PIDFile=/run/hostapd.pid
ExecStartPre=/etc/scripts/wlan0.sh
ExecStart=@SBINDIR@/hostapd /mnt/data/hostapd.conf -P /var/run/hostapd.pid -B

[Install]
WantedBy=debug.target
